@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h2>Add a Category</h2>
<br>
@using (Html.BeginForm())
{
  <form class="form-control">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
      <button type="submit" value="Create" class="btn btn-outline-info">Add To Categories!</button>
  </form>
}
<br>
<p>
  @Html.ActionLink("Show all category", "Index")
</p>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>