@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <button type="submit" class="btn btn-outline-danger" value="Log out">Log Out</button>
    }
}
else
{
<a
  asp-controller="Account"
  asp-action="Register"
  class="btn btn-outline-secondary"
>Register</a>
<a
  asp-controller="Account"
  asp-action="Login"
  class="btn btn-outline-secondary"
>Log In</a>
}
<a
  asp-controller="Home"
  asp-action="Index"
  class="btn btn-outline-primary"
>Main Menu</a>